.vscode/**
obj/**
plexus
plexus.exe
tests/obj/**
tests/log.txt
tests/tests
tests/tests.exe
tests/RelWithDebInfo/**
tests/MinSizeRel/**
tests/Release/**
tests/Debug/**
x64/**
Release/**
RelWithDebInfo/**
MinSizeRel/**
Debug/**
build/**
Testing/**
config.ini
