Source: plexus
Section: utils
Priority: optional
Maintainer: Novemus Band <nineletters@mail.ru>
Build-Depends: cmake, debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/novemus/plexus
Rules-Requires-Root: no

Package: plexus
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Tool for connecting applications via NAT
 The 'plexus' utility provides the ability to connect network
 applications based on UDP protocol via NAT.

Package: libplexus
Section: libs
Architecture: any
Multi-Arch: same
Depends: libtubus (>= 1.2),
         libwormhole (>= 1.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Runtime of the 'plexus' library
 The 'plexus' library provides the ability to connect network
 applications based on UDP protocol via NAT.

Package: libplexus-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libboost1.81-dev (>= 1.81) | libboost-dev (>= 1.81),
         libplexus (= ${binary:Version}),
         libtubus-dev (>= 1.2),
         libwormhole-dev (>= 1.2),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Development files of the 'plexus' library
 The 'plexus' library provides the ability to connect network
 applications based on UDP protocol via NAT.
